<div id="<%= dom_id post %>" class="max-w-xl">
  <div class="flex">
    <%= render 'commons/post_author_link', post: post %>
    <p class="mx-3"> - </p>
    <p><%= post.created_at %></p>
  </div>
  <h3 class="font-semibold text-xl mt-3">
    <%= link_to post.title, post, data: { turbo: false }, class: "hover:underline" %>
  </h3>
  <p class="mt-3">
    <%= post.content %>
  </p>
  <div>
    <%= render 'commons/topics', post: post %>
  </div>
</div>
