<div class="max-w-[90rem] mx-auto px-6 pt-20 flex">
  <div id="<%= dom_id @post %>">
    <div class="flex">
      <%= render 'commons/post_author_link', post: @post %>
      <p class="mx-3"> - </p>
      <p><%= @post.created_at %></p>
    </div>
    <h1 class="font-semibold text-5xl mt-5">
      <%= @post.title %>
    </h1>
    <p class="mt-16">
      <%= @post.content %>
    </p>
  </div>
  <%= render 'commons/post_detail_side_bar', post: @post %>
</div>
