<%= link_to "Back to posts", posts_path, class: "ml-7 mt-9 block text-gray-500 hover:underline" %>
<div class="px-20 pt-20 flex">
  <div id="<%= dom_id @post %>" class="flex-grow xl:border-r xl:border-[#777777] pr-9 box-border">
    <%= render 'commons/author_date', post: @post %>
    <h1 class="font-semibold text-5xl mt-5">
      <%= @post.title %>
    </h1>
    <p class="mt-16">
      <%= @post.content %>
    </p>
  </div>
  <div class="hidden xl:block">
    <%= render 'commons/post_detail_side_bar', post: @post %>
  </div>
</div>
